.wrapper {
  display: flex;
  justify-content: center;
}
.title {
  font-size: clamp(32px, 3.5vw, 48px);
  text-align: center;
}
.form_container {
  padding: 20px clamp(10px, 2vw, 30px);
  width: clamp(300px, 50vw, 650px);

  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}
.label {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;

  font-size: clamp(14px, 2vw, 16px);
}
.submit {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  align-items: center;
}

.link {
  font-size: clamp(14px, 2vw, 16px);
}

@media (max-width: 425px) {
  .form_container {
    width: 100%;
  }
}
