@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  font-family: "Inter", serif;
}
body {
  --color-50: #edf2ff;
  --color-100: #dee8ff;
  --color-200: #c3d3ff;
  --color-300: #9fb5ff;
  --color-400: #798dff;
  --color-500: #5966fb;
  --color-600: #3b3bf0;
  --color-700: #2b28c3;
  --color-800: #2928ab;
  --color-900: #282987;
  --color-950: #18184e;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 14px;
}
a {
  color: var(--color-600);
}

.button {
  cursor: pointer;
  padding: clamp(15px, 2.5vw, 20px) clamp(30px, 5vw, 60px);
  border-radius: 100px;
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 600;
  transition: 0.2s background ease-in-out;
}
.button.button_default {
  border: none;
  color: #fff;
  background-color: var(--color-600);
}
.button.button_default:hover {
  background-color: var(--color-700);
}

.input {
  padding: 10px 15px;
  border-radius: 24px;
}
.input.input_default {
  border: 1px solid var(--color-200);
}